@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/elephant');  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab&family=Rufina&display=swap');
body {
    margin: 0;
    margin-right: 0;
    background-color: white;
}
.rivo {
    font-family: 'Elephant', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgba(34, 79, 52, 1);
    float: left;
    margin-top: 10px;
    margin-left: 7%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: rgba(194, 239, 212, 1);
    
    
  }
  
  
  li a {
    display: block;
    color: rgba(34, 79, 52, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
  }
  
  li a:hover:not(.active) {
    color: black;
  }
  
  .active {
    background-color: rgba(194, 239, 212, 1);
  }
.landing {
    border:rgba(194, 239, 212, 1) solid 2px;
    background-color: rgba(194, 239, 212, 1);
    padding-top: 10px;
    padding-bottom: 25px;
    display: flex;
    
    
}
.centernav {
    display: flex;
    text-align: center;
    margin-left: 35%;
    margin-top: 15px;
        font-family: 'Poppins', sans-serif;
        font-size:medium;
        font-weight: 550;
}
.split {
    float: right;
    margin-left: 20%;  
    display: flex; 
}
.bag {
    width: 20px;
}
.login {
    margin-left: 2%;
    margin-top: 5px;
    border: 2px solid green;
    width: 90px;
padding: 3px;
}
.landp {
    margin-left: 20%;
    color: rgba(34, 79, 52, 1);
    font-size: xxx-large;
    font-family: 'Rufina', serif;
    font-weight: 700;
 

}
.frp {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
    color: rgba(38, 125, 73, 1);
    
    
}
.woman {
    border: 2px solid rgba(107, 199, 133, 1) ;
    border-radius:  15px 50px 30px;
    height: 502px;
    background-color: rgba(107, 199, 133, 1);
    float: right;
    margin-left: 17%;
}
.foto1 {
    width: 400px;
    height: auto;
}
.explore {
    border: 2px solid rgba(34, 79, 52, 1);
    width: 100px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-left: 20%;
    background-color: rgba(34, 79, 52, 1);
    font-family: poppins;
    border-radius: 3px;
    color: beige;
}
.explore:hover{
    background-color:rgba(194, 239, 212, 1) ;
    color: black;
    border: 2px solid rgba(194, 239, 212, 1) ;
}
.prt2 {
    padding-top: 10px;
}
.bash {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 40px;
    color: rgba(34, 79, 52, 1);
}
.burun {
    text-align: center;
   color:rgba(34, 79, 52, 1);
   font-family: poppins;
   font-weight: 500;
}
.fotos {
    display: flex;
justify-content: center;
align-items: center;
text-align: center;
    
}
.img1 {
    border: 2px solid rgba(169, 212, 186, 1);
    width: 200px;
    background-color: rgba(169, 212, 186, 1);
    align-items: center;
    padding-bottom: 0;
    border-radius: 3px;
    height:262px;

    
}
.ganumi {
    width: 200px;
    height: auto;
    
}
.img2 {
    border: 2px solid rgba(194, 239, 212, 1);
    width: 200px;
    height:262px;
    background-color:rgba(194, 239, 212, 1);
    align-items: center;
    padding-bottom: 0;
    margin-left: 3%;
    border-radius: 3px;

}
.joon {
    width: 200px;
    height: auto; 
    
}
.img3 {  border: 2px solid rgba(202, 220, 208, 1);
    width: 200px;
    height:262px;
    background-color:rgba(202, 220, 208, 1);
    align-items: center;
    padding-bottom: 0;
    margin-left: 3%;
    border-radius: 3px;
    }
    .pr1 {
        display: flex;
justify-content: center;
align-items: center;
    }
    .c1 {
        
        font-size: small;
        margin-top: 15px;
        font-family: poppins;
    }
    .c2{
        font-size: small;
        margin-top: 15px;
        font-family: poppins;
       
    }
    .c3{
        font-size: small;
        margin-top: 15px;
        font-family: poppins;
     
    }
    .star {
        width: 13px;
    }
    .see {
        margin-top: 20px;
        margin-left: 45%;
        text-align: center;
    
        border: 2px solid rgba(34, 79, 52, 1);
        width: 100px;
            }
    .seeall {
        text-decoration: none;
        font-family: poppins;
        color: rgba(34, 79, 52, 1);
    }
    .seeall:hover {
        color: black;
    }

    .line2 {
        width: 15px;
    }
    .bashi {
        text-align: center;
        font-family: Roboto Slab;
        font-size: 30px;
        color: rgba(34, 79, 52, 1);
    }
  .cat {
    display: flex;
    font-family: poppins;
    
justify-content: center;
align-items: center;
    padding-bottom: 50px;
    padding-top: 20px;
    
  }
  .bb {
    
    padding-left: 5%;
    text-decoration: none;
    font-family: poppins;
    color: rgba(69, 69, 69, 1);
  }
  .bb:hover{
   color: black;
   text-decoration: underline;
  }

  .fotos {
    display: flex;
justify-content: center;
align-items: center;
text-align: center;
    
}

.ganumi2 {
    width: 214px;
    height: 230px;
    
}
.joon2 {
    width: 214px;
    height: 230px; 
    
}
.img4 {
    border: 2px ;
    width: 200px;
    align-items: center;
    padding-bottom: 0;
    border-radius: 3px;
    height:230px;

    
}
.img5 {
    width: 200px;
    height:230px;
    align-items: center;
    padding-bottom: 0;
    margin-left: 3%;
    border-radius: 3px;
    background-color: rgba(234, 235, 240, 1);

}
.img6 {  
    width: 200px;
    height:230px;
    
    align-items: center;
    padding-bottom: 0;
    margin-left: 3%;
    border-radius: 3px;
    }
    .img7 {
    
    width: 200px;
    height:230px;
   
    align-items: center;
    padding-bottom: 0;
    margin-left: 3%;
    border-radius: 3px;
    }
    .pr1 {
        display: flex;
justify-content: center;
align-items: center;
    }
    .c4 { font-size: small;
        margin-top: 15px;
        font-family: poppins;

    }
    .c5 {
        
        font-size: small;
        margin-top: 15px;
        font-family: poppins;
    }
    .c6{
        font-size: small;
        margin-top: 15px;
        font-family: poppins;
       
    }
    .c7{
        font-size: small;
        margin-top: 15px;
        font-family: poppins;
     
    }
    .star {
        width: 13px;
    }



    .fotos {
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
        
    }
    
    .ganumi3 {
        width: 214px;
        height: 230px;
        
    }
    .joon3 {
        width: 214px;
        height: 230px; 
        
    }
    .img8{
        border: 2px ;
        width: 200px;
        align-items: center;
        padding-bottom: 0;
        border-radius: 3px;
        height:230px;
    
        
    }
    .img9 {
        width: 200px;
        height:230px;
        align-items: center;
        padding-bottom: 0;
        margin-left: 3%;
        border-radius: 3px;
    
    }
    .img10 {  
        width: 200px;
        height:230px;
        align-items: center;
        padding-bottom: 0;
        margin-left: 3%;
        border-radius: 3px;
        }
        .img11 {
        background: lightgray;
        width: 220px;
        height:230px;
        align-items: center;
        padding-bottom: 0;
        margin-left: 3%;
        border-radius: 3px;
        }
        .pr1 {
            display: flex;
    justify-content: center;
    align-items: center;
        }
        .c8 { font-size: small;
            margin-top: 15px;
            font-family: poppins;
    
        }
        .c9 {
            
            font-size: small;
            margin-top: 15px;
            font-family: poppins;
        }
        .c10{
            font-size: small;
            margin-top: 15px;
            font-family: poppins;
           
        }
        .c11{
            font-size: small;
            margin-top: 15px;
            font-family: poppins;
         
        }
        .star {
            width: 13px;
        }